<!-- User card - Garron -->
<div class="cell">
  <div class="card-user-container">

    <!--card's image-->
    <div class="card-user-avatar">
      <img src="assets/img/team/garron.png" alt="Garron Haun" class="user-image">
    </div>

    <!--user info name, bio and location-->
    <div class="card-user-bio">
      <h4>Garron Haun</h4>
      <p>Founder</p>
    </div>
  </div>
</div>

<!-- User card - Jaylen -->
<div class="cell">
  <div class="card-user-container">

    <!--card's image-->
    <div class="card-user-avatar">
      <img src="assets/img/team/jaylen.png" alt="Jaylen Wimbish" class="user-image">
    </div>

    <!--user info name, bio and location-->
    <div class="card-user-bio">
      <h4>Jaylen Wimbish</h4>
      <p>President / CEO</p>
    </div>

    <!--card's socail icons-->
    <div class="card-user-social">
      <ul class="menu">
        <li><a href="https://jaylenwimbish.com" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/jaylenw" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- User card - Ben -->
<div class="cell">
  <div class="card-user-container">

    <!--card's image-->
    <div class="card-user-avatar">
      <img src="assets/img/team/default.png" alt="" class="user-image">
    </div>

    <!--user info name, bio and location-->
    <div class="card-user-bio">
      <h4>Ben Scott</h4>
      <p>Vice President</p>
    </div>
  </div>
</div>

<!-- User card - Thor -->
<div class="cell">
  <div class="card-user-container">

    <!--card's image-->
    <div class="card-user-avatar">
      <img src="assets/img/team/default.png" alt="" class="user-image">
    </div>

    <!--user info name, bio and location-->
    <div class="card-user-bio">
      <h4>Thor Johnson</h4>
      <p>Chief Financial Officer</p>
    </div>
  </div>
</div>

<!-- User card - Kaylen -->
<div class="cell">
  <div class="card-user-container">

    <!--card's image-->
    <div class="card-user-avatar">
      <img src="assets/img/team/kaylen.png" alt="Kaylen Wimbish" class="user-image">
    </div>

    <!--user info name, bio and location-->
    <div class="card-user-bio">
      <h4>Kaylen Wimbish</h4>
      <p>Secretary</p>
    </div>

    <!--card's socail icons-->
    <div class="card-user-social">
      <ul class="menu">
        <li><a href="https://kaylenwimbish.com" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>
