.social-footer {
  padding: 1rem;
  background: $navigation-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin: auto;
    color: $white;
  }

  .social-footer-icons {
    li:last-of-type {
      margin-right: 0;
    }

    .fa {
      font-size: 1.4rem;
      color: $white;

      &:hover {
        color: darken($navigation-bg, 25%);
        transition: color 0.3s ease-in;
      }
    }
  }
}
